extends ../../layouts/default.pug
include ../../mixins/filter-status.pug
include ../../mixins/search.pug
include ../../mixins/pagination.pug
include ../../mixins/form-change-status.pug
block main
    h1 Danh sach san pham
    .card.mb-3 
        .card-header Bộ lọc và Tìm kiếm 
        .card-body 
            .row.col-12
                .col-6 
                    +filter-status(filterStatus)
                .col-6 
                    +search(keyword)
              
    .card.mt-4
        .card-body
            +form-change-status(`${prefixAdmin}/products/change-multi?_method=PATCH`)
            .table-responsive
                table(class=" table table-bordered table-hover" checkbox-multi)
                    thead.thead-dark
                        tr  
                            th 
                                input(type="checkbox" name="checkall")
                            th.text-center STT
                            th.text-center Hình ảnh
                            th.text-center Tiêu đề
                            th.text-center Giá
                            th.text-center Trạng thái
                            th.text-center Hành động
                    tbody
                        each product,index in products
                             tr 
                                td 
                                    input(type="checkbox" name="id" value=product.id)
                                td.text-center #{index + 1}
                                td.text-center 
                                    img(src=product.thumbnail, alt="Product Image", style="width: 60px; height: 60px; object-fit: cover; border-radius: 4px;")
                                td #{product.title}
                                td #{product.price} đ
                                td.text-center 
                                    if product.status == 'active'
                                        a(
                                            href="javascript:;" 
                                            class="badge badge-success"
                                            button-change-status
                                            data-status=product.status 
                                            data-id=product.id
                                        ) Đang bán
                                    else
                                        a(
                                            href="javascript:;" 
                                            class="badge badge-secondary "
                                            button-change-status
                                            data-status=product.status 
                                            data-id=product.id
                                        ) Ngừng bán
                                td.text-center
                                    a.btn.btn-sm.btn-warning.mr-2(href=`/admin/products/edit/${product.id}`) 
                                        i.fas.fa-edit
                                        |  Sửa
                                    a.btn.btn-sm.btn-danger(href=`/admin/products/delete/${product.id}`, onclick="return confirm('Bạn có chắc chắn muốn xóa?')") 
                                        i.fas.fa-trash
                                        |  Xóa
    +pagination(pagination)
    form(
        action="" 
        id="form-change-status" 
        data-path=`${prefixAdmin}/products/change-status`
        method="POST")


    script(src="/admin/js/product.js") 