extends ../../layouts/default.pug
block main
    h1 Danh sach san pham
    .card.mb-3 
        .card-header Bộ lọc và Tìm kiếm 
        .card-body 
            .row.col-12
                .col-6 
                    each item in filterStatus
                        button(
                            class=`btn btn-sm ml-1 btn-outline-success ${item.class}`
                            button-status=item.status
                        ) #{item.name}
                .col-6 
                    form(id="form-search")
                        .input-group 
                            input(type="text" placeholder="key word" value=keyword name="keyword" class="form-control")
                            .input-group-append     
                                button(
                                    class="btn btn-success"
                                    type="submit"
                                ) Search
              
    .card.mt-4
        .card-body
            .table-responsive
                table.table.table-bordered.table-hover
                    thead.thead-dark
                        tr
                            th.text-center STT
                            th.text-center Hình ảnh
                            th.text-center Tiêu đề
                            th.text-center Giá
                            th.text-center Trạng thái
                            th.text-center Hành động
                    tbody
                        each product,index in products
                             tr
                                td.text-center #{index + 1}
                                td.text-center 
                                    img(src=product.thumbnail, alt="Product Image", style="width: 60px; height: 60px; object-fit: cover; border-radius: 4px;")
                                td #{product.title}
                                td #{product.price} đ
                                td.text-center 
                                    if product.status == 'active'
                                        span.badge.badge-success Đang bán
                                    else
                                        span.badge.badge-secondary Ngừng bán
                                td.text-center
                                    a.btn.btn-sm.btn-warning.mr-2(href=`/admin/products/edit/${product.id}`) 
                                        i.fas.fa-edit
                                        |  Sửa
                                    a.btn.btn-sm.btn-danger(href=`/admin/products/delete/${product.id}`, onclick="return confirm('Bạn có chắc chắn muốn xóa?')") 
                                        i.fas.fa-trash
                                        |  Xóa