extends ../../layouts/default.pug
block main
    h1(class="mb-4") Accounts
    .card.mb-3
        .card-header Danh sach Tài khoản
        .card-body
            .row
                .col-8 
                .col-4  
                    a(href=`${prefixAdmin}/accounts/create`
                    class="btn btn-outline-success") + Thêm mới
            .table-responsive
                table(class=" table table-bordered table-hover" checkbox-multi)
                    thead.thead-dark
                        tr  
                            th 
                                input(type="checkbox" name="checkall")
                            th.text-center STT
                            th.text-center Avatar
                            th.text-center Họ và Tên
                            th.text-center Email
                            th.text-center Số điện thoại
                            th.text-center Quyền
                            th.text-center Trạng thái
                            th.text-center Hành động
                    tbody
                        each record,index in records
                            tr 
                                td 
                                    input(type="checkbox" name="id" value=record.id)
                                td.text-center #{index + 1} 
                                td.text-center 
                                    img(src=record.avatar, alt="record Image", style="width: 60px; height: 60px; object-fit: cover; border-radius: 4px;")
                                td #{record.fullName}
                                td #{record.email}
                                td #{record.phone}
                                td #{record.role.title}
                                td.text-center 
                                    if record.status == 'active'
                                        a(
                                            href="javascript:;" 
                                            class="badge badge-success"
                                            button-change-status
                                            data-status=record.status 
                                            data-id=record.id
                                        ) Hoạt động
                                    else
                                        a(
                                            href="javascript:;" 
                                            class="badge badge-secondary "
                                            button-change-status
                                            data-status=record.status 
                                            data-id=record.id
                                        ) Dừng hoạt động
                                td.text-center
                                    a(href=`${prefixAdmin}/accounts/show/${record.id}` class="btn btn-info btn-sm")
                                        i.fas.fa-eye
                                        |  Chi tiết
                                    a(href=`${prefixAdmin}/accounts/edit/${record.id}` class="btn btn-warning btn-sm ml-1 mr-1")
                                        i.fas.fa-edit
                                        |  Sửa
                                    button(class="btn btn-danger btn-sm " data-id=record.id button-delete)
                                        i.fas.fa-trash
                                        |  Xóa
